*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


#logo_header{
  border-radius: 10px;
}

#logo_sobremi{
  height: 200px;
  width: 200px;
}

.barra_nav{
  background: rgb(2, 21, 190);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;  
}

.primer_commit{
  background: rgb(0, 26, 255);

}

#navegacion{
  gap: calc(10px);
}

